.experience {
    margin-bottom: 85px;
    .experience__block {
        max-width: 1148px;
        margin: 0 auto;
        .experience__title {
            position: relative;
            margin-bottom: 55px;
            z-index: 13;
        }
        .experience__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 31px;
            margin-bottom: 87px;
            .experience__card {
                position: relative;
                height: 266px;
                background-color: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.63%, #000000 81.25%);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                &:nth-child(1) {
                    background-image: url('../../../assets/img/experienceCard1.jpg');
                }
                &:nth-child(2) {
                    background-image: url('../../../assets/img/experienceCard2.jpg');
                }
                &:nth-child(3) {
                    background-image: url('../../../assets/img/experienceCard3.jpg');
                }
                .experience__card-item {
                    height: 100%;
                }
                .experience__card-title {
                    position: absolute;
                    bottom: 24px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: #FFFFFF;
                }
                img {
                    position: absolute;
                    bottom: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .experience__text {
            text-align: start;
            max-width: 860px;
            margin: 0 auto;
            margin-bottom: 89px;
        }
    }
            .experience__skills-card {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;
                white-space: nowrap;
                margin-right: 70px;
                .experience__skills-img {
                    margin-right: 25px;
                }
    }
}