.experience {
    margin-bottom: 85px;
    padding-top: 47px;
    .experience__block {
        max-width: 1148px;
        margin: 0 auto;
        .experience__title {
            position: relative;
            margin-bottom: 55px;
            z-index: 13;
        }
        .experience__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 31px;
            margin-bottom: 87px;
        }
        .experience__text {
            text-align: start;
            max-width: 860px;
            margin: 0 auto;
            margin-bottom: 89px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .experience {
        padding: 0 20px;
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 50px;
        .experience__block {
            .experience__title {
                margin-bottom: 30px;
            }
            .experience__list {
                grid-template-columns: repeat(1, 1fr);
                column-gap: 0px;
                row-gap: 30px;
                margin-bottom: 30px;
            }
            .experience__text {
                max-width: 320px;
                margin: 0 auto;
                margin-bottom: 36px;
            }
        }
        .experience__skills {
            margin-left: -20px;
        }
    }
}