.welcome {
    padding: 0px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1148px;
    margin: 0 auto;
    padding-top: 260px;
    margin-bottom: 135px;
    .welcome__info {
        text-align: start;
        padding-bottom: 20px;
        margin-right: 137px;
        align-self: flex-end;
        z-index: 3;
        .welcome__skills {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-bottom: 40px;
            .welcome__skills-item {
                background: #3C3D4C;
                border-radius: 100px;
                padding: 3px 20px;
                text-align: center;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #fff;
                cursor: default;
                &:hover {
                    background-color: #9747FF;
                }
            }
            .welcome__skills-item + .welcome__skills-item {
                margin-left: 32px;
            }
        }
        .welcome__title {
            margin-bottom: 40px;
        }
        .welcome__subtitle {
            margin-bottom: 29px;
        }
    }
}

@media only screen and (max-width: 1060px) {
    .welcome {
        max-width: 1018px;
        padding: 160px 20px 0 20px;
        margin-bottom: 50px;
        .welcome__info {
            margin-right: 54px;
            .welcome__title {
                font-size: 42px;
            }
            .welcome__subtitle {
                margin-bottom: 40px;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .welcome {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
        padding-top: 160px;
        margin-bottom: 50px;
        max-width: 360px;
        .welcome__info {
            margin-right: 0px;
            .welcome__skills {
                margin-bottom: 30px;
                .welcome__skills-item {
                    font-size: 10px;
                    line-height: 15px;
                    height: 22px;
                    color: #fff;
                    cursor: default;
                    &:hover {
                        background-color: #9747FF;
                    }
                }
                .welcome__skills-item + .welcome__skills-item {
                    margin-left: 21px;
                }
            }
            .welcome__title {
                margin-bottom: 30px;
                font-size: 42px;
                line-height: 100%;
            }
            .welcome__subtitle {
                margin-bottom: 29px;
            }
        }
    }
}