.seo__card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 26px;
    padding-top: 19px;
    border-bottom: 1px solid #2A2B3A;
    p {
        letter-spacing: -0.01em;
        color: #9E9EAC;
    }
}