@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

@keyframes arrow {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}

.main {
    z-index: 3;
    .main__scroll-text {
        width: 100%;
        text-align: center; 
        margin-right: 15px;
        margin-bottom: 30px;
    }
    .main__scroll-icon {
        font-size: 19px;
        margin-left: 10px;
        animation: 0.5s linear 1s infinite alternate arrow;
    }
}

.swiper {
    gap: 100px;
    .marquee {
        gap: 100px;
        min-width: none;
    }
}
.swiper-design {
    gap: 30px;
    .marquee {
        gap: 30px;
        min-width: none;
    }
}
/* 
.circle {
    position: absolute;
    z-index: 1000;
    transform: translate(-50%, 500px);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: radial-gradient(#fff, #dbdbdb);
    filter: blur(70px);
}
.experience__card--dark {
    transition: 0.4s all;
    img {
        transition: 0.4s all;
    }
} */


/* #experience__list{
	position: relative;
	background-color: #000;
	
	&:hover{
		.card{
			box-shadow: 0 0 10px fade-out(#000, .6), 0 10px 20px -10px fade-out(#000, .1);
		}
	}
	.card{
		z-index: 2;
		width: 100%;
		color: #fff;
		font-size: 18px;
		transition: .3s;
		overflow: hidden;
		max-width: 400px;
		box-shadow: none;
		border-radius: 12px;
		text-align: center;
		position: relative;
		padding: 50px 20px;
		background-size: cover;
		font-family: 'Open Sans';
		background-position: center;
		background-attachment: fixed;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
		
		&:hover{
			.light{
				opacity: .4;
			}
		}
		
		.light{
			top: 0;
			left: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			transition: opacity .3s;
		}
		
		h2{
			font-size: 50px;
			font-weight: bold;
			margin-bottom: 20px;
			text-transform: uppercase;
			font-family: 'Oswald';
		}
	}
} */


/*     @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange }
    } */

/*     .code__text{
        font-family: monospace;
        overflow: hidden;
        border-right: .17em solid #e29508;
        
        margin: 0 auto;
        letter-spacing: .17em;
        animation:
        typing 3.5s steps(30, end),
        blink-caret .7s step-end infinite;
    } */
    




    /* #experience__list{
        width: 100vw;
        height: 100vh;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: center;
        justify-content: center;
        
        &:hover{
            
            .bg{
                filter: blur(2px);
                transform: scale(1.02);
            }
            
            .card{
                box-shadow: 0 0 10px fade-out(#000, .6), 0 10px 20px -10px fade-out(#000, .1);
            }
        }
        
        .bg{
            z-index: 1;
            width: 100%;
            height: 100%;
            display: block;
            transition: .3s;
            position: absolute;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
        
        .card{
            z-index: 2;
            width: 100%;
            color: #fff;
            font-size: 18px;
            transition: .3s;
            overflow: hidden;
            max-width: 400px;
            box-shadow: none;
            border-radius: 12px;
            text-align: center;
            position: relative;
            padding: 50px 20px;
            background-size: cover;
            font-family: 'Open Sans';
            background-position: center;
            background-attachment: fixed;
            
            &:hover{
                .light{
                    opacity: .4;
                }
            }
            
            .light{
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                transition: opacity .3s;
            }
            
            h2{
                font-size: 50px;
                font-weight: bold;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-family: 'Oswald';
            }
        }
    } */