@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

@keyframes arrow {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}

.main {
    z-index: 3;
    .main__scroll-text {
        width: 100%;
        text-align: center; 
        margin-right: 15px;
        margin-bottom: -17px;
    }
    .main__scroll-icon {
        font-size: 19px;
        margin-left: 10px;
        animation: 0.5s linear 1s infinite alternate arrow;
    }
}

.swiper {
    gap: 100px;
    .marquee {
        gap: 100px;
        min-width: none;
    }
}
.swiper-design {
    gap: 30px;
    .marquee {
        gap: 30px;
        min-width: none;
    }
}