* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

.wrap {
    height: 100vh;
    .swiper  {
        height: 100vh !important;
    }
    .swiper-slide, .swiper-slide-active {
        transition: 5s all !important;
    }
    .wrap__list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        z-index: 123;
        .wrap__item {
            margin-right: 15px;
            font-size: 36px;
            color: #fff;
            z-index: 1457;
            cursor: pointer;
            &:hover {
                font-size: 40px;
            }
        }
    }
}

.container {
    width: 100%;
    height: 100vh;
    font-size: 5em;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container:nth-of-type(even) {
    background-color: rgba(75, 214, 253, 0.84);
    color: white;
}