.welcome__cube, .welcome__cube--hidden {
    z-index: 3;
    display: block;
}
.welcome__cube--hidden {
    display: none !important;
}

video {
    width: 450px;
}

@media only screen and (max-width: 1060px) {
    video {
        width: 200px;
    }
}

@media only screen and (max-width: 570px) {
    video {
        margin: 40px auto;
    }
}