.business {
    max-width: 1148px;
    margin: 0 auto;
    margin-bottom: 38px;
    .business__title {
        margin-bottom: 54px;
    }
    .business__model {
        display: grid;
        grid-template-columns: 368px 265px 465px;
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        .business__big-coubes {
            grid-column: 1/2;
            grid-row: 1/3;
            position: relative;
        }
        .business__cards {
            position: relative;
            grid-column: 2/3;
            grid-row: 1/3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            div + div {
                margin-top: 30px;
            }
            div {
                background: linear-gradient(140.55deg, rgba(42, 43, 58, 0.6) 1.17%, rgba(9, 11, 12, 0.6) 79.03%);
                border: 1px solid #3C3D4C;
                backdrop-filter: blur(2px);
                border-radius: 20px;
                width: 100%;
                height: 100%;
                padding: 60px 34px 50px;
                max-height: 206px;
                white-space: nowrap;
                .business__outstaffing-icon, .business__outsorcing-icon {
                    margin-bottom: 21px;
                    width: 40px;
                    height: 40px;
                }
                .business__outstaffing-title, .business__team-title, .business__outsorcing-title {
                    color: #fff;
                }
            }
            .business__outsorcing {
                position: relative;
                .business__outsorcing-bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .business__team {
                padding-top: 17px;
                .business__team-bg {
                    display: flex;
                    margin: 0 auto;
                    transform: translateX(-25px);
                }
            }
        }
        .business__keyboard {
            grid-column: 3/4;
            grid-row: 1/2;
            position: relative;
            height: 334px;
        }
        .business__mini-coubes {
            grid-column: 3/4;
            grid-row: 2/3;
            position: relative;
            height: 334px;
        }
    }
    .business__card--big {
    background: url(../../../assets/img/bigCoubes.png) no-repeat center;
}
.business__card--keyboard {
    background: url(../../../assets/img/keyboard.png) no-repeat center;
}
.business__card--mini {
    background: url(../../../assets/img/miniCoubes.png) no-repeat center;
}
span {
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 9999999999999999;
    &:first-child, &:nth-child(2) {
        top: 0;
    }
    &:first-child, &:nth-child(3) {
        left: 0;
    }
    &:nth-child(2), &:nth-child(4) {
        right: 0;
    }
    &:nth-child(3), &:nth-child(4) {
        bottom: 0;
    }
    
    &:first-child:hover ~ .business__card {
        transform: perspective(600px) rotateX(10deg) rotateY(-10deg);
        .light{
            opacity: 0.4;
        }
    }
    &:nth-child(2):hover ~ .business__card {
        transform: perspective(600px) rotateX(10deg) rotateY(10deg);
        .light{
            opacity: 0.4;
        }
    }
    &:nth-child(3):hover ~ .business__card {
        transform: perspective(600px) rotateX(-10deg) rotateY(-10deg);
        .light{
            opacity: 0.4;
        }
    }
    &:nth-child(4):hover ~ .business__card {
        transform: perspective(600px) rotateX(-10deg) rotateY(10deg);
        .light{
            opacity: 0.4;
        }
    }
}
.business__card {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s all;
    .light{
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        transition: opacity .3s;
        background: radial-gradient(circle at 52.8095px 0px, rgb(255, 255, 255), transparent);
        border-radius: 15px;
    }
    &:hover{
        .light{
            opacity: 0.4;
        }
    }
}
}
.business__outsorcing-circle {
    position: absolute;
    top: -114px;
    left: 8px;
    width: 245px;
    height: 133px;
    background: #9747ff4d;
    mix-blend-mode: multiply;
    filter: blur(69px);
    border-radius: 50%;
} 